/*VARIABLES*/

:root{

  --bg-color1: #222A68;
  --bg-color2: #574AE2;
  --font-color1: #654597;
  --font-color2: #AB81CD;
  --accent-color: #E2ADF2;
  --accent-colorRGBA: rgba(226, 173, 242, .6);


}

header a{
  font-family: 'Montserrat', sans-serif;
}

h1, h2{
  font-family: 'Montserrat', sans-serif;
}

h2{
  color: var(--accent-colorRGBA);
}

h3{
  font-family: 'Yellowtail', cursive;
  color: var(--font-color1);
}

h4{
  color: var(--bg-color2);
  font-family: 'Yellowtail', cursive;
}

h5{
  color: var(--bg-color1);
  font-family: 'Montserrat', sans-serif;
}

footer a{
  color: var(--accent-color);
}

footer a:hover{
  color: var(--accent-colorRGBA);
}


.headerLogo{
    background-color: var(--bg-color1);
    border: none !important;
}

.jumbotron{
    background-color: var(--bg-color1);
    color: var(--accent-color);   
}

.subscribeBtn{
  background-color: var(--accent-color);
  color: var(--bg-color1) !important;
  border: none;
  transition: transform .5s ease-in-out;
}

.subscribeBtn:hover{
  background-color: var(--accent-colorRGBA);
  color: white !important;
  transform: scale(1.1);
}

.navbar{
  background-color: var(--bg-color2);
}

.row-content{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card img{
  height: 200px;
}

.site-footer{
  background-color: var(--bg-color1);
}

.contactInfo a{
  color: var(--accent-color);
}

.contactInfo a:hover{
  color: var(--accent-colorRGBA);
}



