/*VARIABLES*/

:root{

  --bg-color1: #222A68;
  --bg-color2: #574AE2;
  --font-color1: #654597;
  --font-color2: #AB81CD;
  --accent-color: #E2ADF2;


}

.headerLogo{
    background-color: var(--bg-color1);
    border: none !important;
}

.jumbotron{
    background-color: var(--bg-color1);
    color: var(--accent-color);   
}

.subscribeBtn{
  background-color: var(--accent-color);
  color: var(--bg-color1) !important;
}